@charset "UTF-8";
/* Custom properties */
:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Adaptación al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Reducción de movimiento */
@media (prefers-reduced-motion: reduce) {
  html {
    animation: none !important;
    transition: none !important;
  }
}

/* Reseteo global */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Estilos globales de elementos */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Reseteo de enlaces */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Enlaces dentro de párrafos */
p a {
  display: inline;
}

/* Estilos de listas */
li {
  list-style-type: none;
}

/* Anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Estilos de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Estilos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Selección de texto */
::-moz-selection {
  background-color: var(--negro);
  color: white;
}
::selection {
  background-color: var(--negro);
  color: white;
}

/* Formatos de formulario */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

/* Estilos de tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Estilos de SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Tipografía global */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: white;
  line-height: 1.4em;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 8px;
  text-align: center;
}

/* Estilo de grid */
.grid {
  width: 90%;
  max-width: 56.25rem;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 2fr));
  gap: 1rem;
}

.grid .img {
  background-color: #e9dcbe;
  box-shadow: 0.5rem 0.5rem 2rem #181818, -0.5rem -0.5rem 2rem #55555515;
  cursor: pointer;
  transition: all 0.5s;
}

.grid .img:hover {
  transform: scale(0.95);
}

.grid .img:active {
  transform: scale(1.1);
}

/* Lightbox */
.tlb-lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(4rem);
  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  opacity: 0;
  pointer-events: none;
}

.tlb-lightbox.tlb-is-active {
  opacity: 1;
  pointer-events: auto;
}

.tlb-lightbox__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tlb-lightbox__close:hover {
  transform: scale(0.95);
}

.tlb-lightbox__close:active {
  transform: scale(1.1);
}

.tlb-lightbox__img-container {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 80vh;
  box-shadow: 0 0 1rem 0 rgba(143, 142, 142, 0.623);
}

.tlb-lightbox__big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tlb-img:hover{
  cursor: pointer;
}

.github-link{
  display: flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #fafafa;
  border-radius: 8px;
  padding: 1rem;
  transition: .3s ease-in-out;
  bottom: 20%;
}
.github-link i{
  font-size: 2rem;
}
.github-link:hover{
  box-shadow: 2px 2px 1px #fafafa;
}
.credits{
  margin-top: 12px;
}

@media (max-width: 750px) {
  .tlb-lightbox {
    padding: 1rem;
  }
  .tlb-lightbox__img-container {
    width: 100%;
    height: auto;
  }
  .tlb-lightbox__close {
    top: 0.25rem;
    right: 0.25rem;
  }
}


@media (max-width: 540px) {
  h1{
    margin-top: 2rem;
  }
  .github-link{
    margin-bottom: 1rem;
  }

}

